{% extends 'layout.html' %}
 
{% block content %}


<div class="contents">
    <div class="contents-item">
        <h2 class="contents-title">
            イベント・ニュース
        </h2>
        <img class="contents-img" src="/static/img/news.png" alt="ニュース">
            <ul class="contents-exp">
<li>
            2023年5月13日 味波で同窓会しました!<br>
            大盛況!!
</li>
<li>
            2023年年末にも歳忘れ同窓会しようぜ!!!<br>
            楽しい同窓会になるといいね！
</li>
            </ul>
    </div>
    <div class="contents-item">
        <h2 class="contents-title">
            みんなのワイワイ掲示板
        </h2>
        <img class="contents-img" src="/static/img/keijiban.png" alt="掲示板">
            <ul class="contents-exp">
<li>
            懐かしい仲間と気軽になんでも話そう!!<br>
            
</li>
<li>
            近況など教えてね<br>
</li>
</ul>
</p>
</div>
    <div class="contents-item">
        <h2 class="contents-title">
            お宝映像・写真
        </h2>
        <img class="contents-img" src="/static/img/gazo.png " alt="画像">
            <ul class="icontents-exp">
<li>
            懐かしい仲間と気軽になんでも話そう!!<br>
            
</li>
<li>
            近況など教えてね<br>
</li>
            </ul>
    </div>
</div>

 
{% endblock %}
